<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">

          <h1>New Episode</h1>

          <%= render 'form', episode: @episode %>

          <%= link_to 'Back', episodes_path %>

        </div>
      </div>
</div>
